html,body {
    -webkit-font-smoothing: antialiased
}

body {
    overflow-x: hidden;
    color: #444;
    background: #EEE;
    font-family: 'Open Sans',sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1.55;
    font-size: 12px;
}

body.loading {
    overflow-x: hidden !important;
    overflow-y: hidden !important
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Open Sans',sans-serif;
    font-weight: 700;
    padding: 0;
    color: #222;
    line-height: 1.55
}

p {
    font-size: 14px
}

a,a:hover,a:focus {
    color: inherit;
    cursor: pointer;
    text-decoration: none
}

.wrapper {
    margin-top: 80px;
    margin-bottom: 80px
}

.wrapper.employes {
    width: 400px;
    max-width: 400px;
    margin: 80px auto
}

.form-signin {
    max-width: 380px;
    padding: 15px 35px 45px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.1)
}

.form-signin .form-signin-heading,.form-signin .checkbox {
    margin-bottom: 30px
}

.form-signin .checkbox {
    font-weight: normal
}

.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.form-signin .form-control:focus {
    z-index: 2
}

.form-signin input[type="text"] {
    margin-bottom: -1px;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
    border-bottom-left-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    border-bottom-right-radius: 0
}

.form-signin input[type="password"] {
    margin-bottom: 20px;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topleft: 0;
    border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    -moz-border-radius-topright: 0;
    border-top-right-radius: 0
}

.action-btn-panel .btn {
	padding: 0;
	width: 20px;
	margin: 0 1px;
}

#header {
    padding: 10px 0;
    border-bottom: 10px solid #f3cb34;
}

#header .logo {
    font-weight: 700;
    font-size: 20px;
}

.wrapper-content {
    padding: 20px 0;
}

.panel-top {
    background-color: #FFF;
    padding: 10px 20px;
    font-size: 14px;
    margin-bottom: 20px;
    border-radius: 4px;
}

.user-list-panel {
    background: white;
    padding: 20px 7px;
    border-radius: 4px;
}

.user-list-panel .form {
    margin-bottom: 20px;
}

.employe-list-panel > li{
    position: relative;
    border-bottom: 1px solid #ddd;
}
.employe-list-panel > li a{
    transition: all .2s;
}

.employe-list-panel > li:last-child{
    border-bottom: 0;
}

.employe-list-panel > li a.employe{
    display: block;
    padding: 10px 45px 10px 10px;
}

.employe-list-panel > li a.employe:hover{
    background-color: rgba(243,203,52,0.23);
}

.employe-list-panel > li a.delete{
    position: absolute;
    top: 25%;
    right: 10px;
    padding: 0 4px;
    font-size: 18px;
    opacity: 0;
    visibility: hidden;
}

.employe-list-panel > li:hover a.delete{
    opacity: 1;
    visibility: visible;
}

.employe-list-panel > li p{
    margin: 0;
}

ul.notif {
    left: initial;
    right: 0;
    width: 250px;
    max-height: 300px;
    overflow: auto;
}

ul.notif > li {
    border-bottom: 1px solid #eaeaea;
}

ul.notif > li > a {
    white-space: normal;
}

ul.notif > li p {
    margin-bottom: 5px;
}

ul.notif > li p.username {
    font-weight: 700;
}

ul.notif > li small {
    font-style: italic;
    font-size: 10px;
}

.detail-panel .avatar {
    margin-bottom: 10px;
}

.detail-panel .avatar > img {
    width: 100%;
}

.detail-panel .form-group{
    margin-bottom: 0;
}

.detail-panel .form-group .form-control-static{
    padding-top: 0;
}

.form .avatar img {
    width: 100%;
}